@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #f9f9f9;
  overscroll-behavior: none;
}